In [71]:
import pandas as pd

In [74]:
ice_cream = ['Choclate', 'Vanilla', 'Strawberry', 'Run Raisin']

pd.Series(ice_cream)

0      Choclate
1       Vanilla
2    Strawberry
3    Run Raisin
dtype: object

In [77]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [78]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [79]:
webster = {"Aardvark": "An Animal", "Banana": "A delicious fruit", "Cyan": "A color"}

pd.Series(webster)

Aardvark            An Animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

In [80]:
about_me = ['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble']
s = pd.Series(about_me)

In [82]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [83]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [84]:
s.dtype

dtype('O')

In [85]:
prices = [2.99, 4.45, 1.36]
d = pd.Series(prices)
d

0    2.99
1    4.45
2    1.36
dtype: float64

In [88]:
d.sum()

8.8

In [90]:
d.product()

18.095480000000006

In [92]:
d.mean()

2.9333333333333336

In [97]:
fruits = ['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [98]:
fruits = ['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry', 'Watermelon']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday']

pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object